<div class ="three-cards">
  <a href="/">
    <div class="card-purple">
      <span>Home</span>
    </div>
  </a>
  <a href="/about">
    <div class="card-green">
      <span>About</span>
      <a href="../about/mon_groupe" class="about">Mon groupe</a><br/>
      <a href="../about/moi" class="about">Moi</a>
    </div>
  </a>
  <a href="/contact">
    <div class="card-gold">
      <span>Contact</span>
    </div>
  </a>
  <p class="description">Vous êtes sur la carte : about</p>
</div>