<div class ="three-cards">
  <a href="/">
    <div class="card-purple">
      <span>Home</span><br/><br/>
    </div>
  </a>
  <a href="/about">
    <div class="card-green">
      <span>About</span><br/>
      <a href="../about/mon_groupe" class="about">Mon groupe</a><br/>
      <a href="../about/moi" class="about">Moi</a><br/><br/>
    </div>
  </a>
  <a href="/contact">
    <div class="card-gold">
      <span>Contact</span><br/><br/>
      <p>Voici mon slack : @Maxime M.</p>
      <p>NON LEA TU N'AURAS PAS MON NUMERO !!</p>
    </div>
  </a>
  <p class="description">Vous êtes sur la carte : contact</p>
</div>